
# Bibliotecas fundamentales de Django y su ecosistema
Django==3.2             # El framework principal de Django
djangorestframework     # Para crear APIs REST en Django
djangorestframework_simplejwt
djoser                  # Para la autenticación y gestión de usuarios en Django REST Framework
mysqlclient

# Utilidades para el desarrollo de aplicaciones web
pyJWT==2.1.0            # Trabajar con tokens JWT en autenticación y autorización
django-cors-headers     # Configuración de CORS en aplicaciones Django
django-environ          # Para la configuración de variables de entorno
django-ckeditor         # Editor WYSIWYG enriquecido para Django
pytz                    # Trabajo con zonas horarias
argon2-cffi             # Hashing seguro de contraseñas en Django

# Autenticación social
social-auth-app-django  # Integración con autenticación social (OAuth)

# Procesamiento de contenido
markdown                # Procesamiento de texto en formato Markdown

# Servidores web y gestión de archivos estáticos
gunicorn                # Servidor WSGI para producción
whitenoise              # Servir archivos estáticos eficientemente en producción

# Hacer solicitudes HTTP
requests                # Realizar solicitudes HTTP
